@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
body{
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
    margin: 25px;
    font-family: Figtree;

}
.maincontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color:  hsl(0, 0%, 100%);
   padding: 15px;
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 20px;
    height: 480px;
    width: 300px;
     box-shadow: 10px 10px 5px hsl(0, 0%, 7%);
}
.illustrationimg{
    width: 300px;
    border-radius: 20px;
    height: 200px;
    margin-top:  30px;
}
button{
    padding:15px;
    margin-top: 10px;
    background-color: hsl(47, 88%, 63%);
    border: 0px;
    color:hsl(0, 0%, 7%);
    border-radius: 10px;
    font-weight: 600;
    align-self: flex-start;
}
.publish{
font-size: 15px;
color:  hsl(0, 0%, 7%);
align-self: flex-start;
}
h1{
    font-size: 20px;
    align-self: flex-start;
}
p{
    color: hsl(0, 0%, 42%);
    align-self: flex-start;
}
.photo{
    height: 40px;
    width: 40px;
    align-self: flex-start;
    padding: 10px;
}
.imgCon{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-bottom: 20px;
}
.name{
    font-size: 13px;
    font-weight: 600;
    color: hsl(0, 0%, 7%);
    padding-top: 10px;
}
